.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  color: white;
  position: fixed;
}

.main {
  margin-left: 240px;
  padding: 30px;
}

.event-card {
  background: #38bdf8;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  color: #022c22;
}
